.green-nav {
    display: flex;
    background-color: chartreuse;
    width: 100%;
    color: white;
    padding-left: 20px;
    }
.state-img{
    justify-content: center;
    display: flex;
    background-color: rgb(187, 214, 160);
    width: 6rem;
    margin-left: 55rem;
}
.Upbutton {
background-color: green;
color: #fff;
margin-left: 55rem;
}
.Downbutton {
background-color: blueviolet;
color: #fff;
margin-left: 55rem;
}
.Resetbutton {
background-color: brown;
color: #fff;
margin-left: 55rem;
}
.Prevbutton {
background-color: cornflowerblue;
color: #fff;

margin-left: 61rem;
}