.blue-nav {
    display: flex;
    background-color: cornflowerblue;
    width: 100%;
    color: white;
    padding-left: 20px;
    }
.container {
    display: flex;
    height: 100vh;
  }
  
.sidebar {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  width: 200px; /* 사이드바의 폭을 조절할 수 있습니다. */
  border: 1px solid #000; /* 테두리 스타일 추가 */
}

.sidebarList {
  list-style-type: none;
  padding: 0;
}

.sidebarList li {
  background-color: #f4f4f4;
  text-align: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.content {
  background-color: #f4f4f4;
  width: 80%;
}
.center {
  text-align: center;
}
.Previousbutton{
background-color: yellowgreen;
margin: 15px;
margin-left: 108rem;
}
.codeTextArea {
  width: 600px;
  height: 300px;
  margin-top: 10px;
  resize: none;
}
.textareaContainer {
  position: relative;
}
.buttonContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}