.blue-nav {
    display: flex;
    background-color: cornflowerblue;
    width: 100%;
    color: white;
    padding-left: 20px;
    }
.container {
    display: flex;
  }
  
  .sidebar {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    width: 200px; /* 사이드바의 폭을 조절할 수 있습니다. */
  }
  
  .sidebarList {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebarList li {
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .content {
    background-color: #f4f4f4;
  }
  .center {
    text-align: center;
  }